.hidden{
    display: none;
}

body {
    background-image: url("https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron{
    color: #060C0C;
    background-color: #A8671F;
    opacity: 80%;
}

.part{
    color: #060C0C;
    background-color: #A8671F;
    opacity: 80%;
    padding: 20px;
}

#add{
    background-color: #007061;
    border: none;
}

#start{
    background-color: #B60A1B;
    border: none;
}

#next{
    background-color: #007061;
    border: none;
}

#anything{
    background-color: #B60A1B;
    border: none;
    color: white;
}

#again{
    background-color: #007061;
    border: none;
}
